<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friday_13th.name %>
</p>

<p>
  <strong>Superstition:</strong>
  <%= @friday_13th.superstition %>
</p>

<%= link_to 'Edit', edit_friday_13th_path(@friday_13th) %> |
<%= link_to 'Back', friday_13ths_path %>
